<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>

<body>
    <h1>Api endpoints</h3>
    <h2>
        GET /api -- returns this home page.
        <br>
        GET /api/owners/:username -- returns a specific owner
        <br>
        POST /api/owners/ -- adds a new owner, requires a JSON object containing a username, firstName, lastName, and email
        <br>
        GET /api//sites/:owner_id -- returns a specific owners site
        <br>
        POST /api/sites/:owner_id -- adds a site for an owner
        <br>
        DELETE /api/sites/:site_id -- deletes a specific site
    </h2>
</body>

</html>